<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ModelSuzyContainer" connectionString="metadata=res://*/ModelSuzy.csdl|res://*/ModelSuzy.ssdl|res://*/ModelSuzy.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\DB\CustomSuzy.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomSuzy" connectionString="metadata=res://*/ModelSuzy.csdl|res://*/ModelSuzy.ssdl|res://*/ModelSuzy.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\CustomSuzy.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomSuzy1" connectionString="metadata=res://*/ModelSuzyedmx.csdl|res://*/ModelSuzyedmx.ssdl|res://*/ModelSuzyedmx.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\CustomSuzy.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>